<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<variable name="detailedLayout" value="${date:format=HH\:mm\:ss\:fff} ${assembly-version:type=File} [${threadid}] (${level:uppercase=true}): ${message}"/>
	<targets>
		<target xsi:type="File"
				name="file"
				fileName="short.log"
				archiveFileName="/../../../../Logs/short.{#}.txt"
				archiveNumbering="Date"
				archiveEvery="Day"
				archiveDateFormat="yyyyMMdd"
				layout="${detailedLayout}" />
	
	<target xsi:type="File"
				name="eventFile"
				fileName="event.log"
				archiveFileName="/../../../../Logs/Event.{#}.txt"
				archiveNumbering="Date"
				archiveEvery="Day"
				archiveDateFormat="yyyyMMdd"
				layout="${detailedLayout}" />
	</targets>

	<rules>
		<logger name="file" minlevel="Trace" writeTo="file" />
		<logger name="eventFile" minlevel="Trace" writeTo="eventFile" />
	</rules>
</nlog>